# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,ts,tsx,json,y{a,}ml,html,cpp,hpp,r,R,sh}]
indent_style = space
indent_size = 2

[*.{java,py,jl}]
indent_style = space
indent_size = 4

[*.{{R,q,}md,rst}]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2
